<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myApri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6335C6471F054E4C009DA84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6335C65E1F054E4D009DA84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6335C6691F054E4D009DA84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
